/vendor
/node_modules
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
/storage/logs/*
/storage/app/public/*
/public/hot
/public/storage
/tests
npm-debug.log
yarn-error.log
